

body {
 background-color: rgb(34, 34, 34); 
 color: white;
 font-family: 'Montserrat', sans-serif;
 margin: 0px;
 padding: 15px;
}

a {
    color: white;
    
}


a:hover {
    color: #F285C1;
    transition: 0.5s all;

}

.react-btn:hover{
    color: #1F41A6;
    transition: 0.7s all;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}


li{
    display: inline-block;
    margin: 25px;
    font-size: 20px;
    padding-right: 0px;

}

.react-btn {
    font-weight: 500;
    margin-left: -50px;
    color: #729DF2;
    flex-direction: column;
    line-height: 10px;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
  
}

img {
    width: 580px;
    margin-left: 45%;
    
}

h2 {
    font-size: 32px;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #F285C1;
}

p {
font-size: 20px;
}

.button {
    border: 2px solid #F285C1;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    line-height: 70px;
    font-size: 24px;
    
    
}

.button:hover {
    background-color: #F285C1;
    color: white;
    
}

aside {
    margin-left: 187px;
}

.menu {
    margin-left: 90px;
}