

body {
 background-color: rgb(34, 34, 34); 
 color: white;
 font-family: 'Montserrat', sans-serif;
 margin: 0px;
 padding: 15px;
}

a {
    color: white;
    
}


a:hover {
    color: #F285C1;
    transition: 0.5s all;

}

.react-btn:hover{
    color: #1F41A6;
    transition: 0.7s all;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.title-tds {
    color: #F285C1;
   text-align: center;

}

.text {
    text-align: justify;
    margin-left:300px;
    margin-right: 300px;
}

li{
    display: inline-block;
    margin: 25px;
    font-size: 20px;
    padding-right: 0px;

}

.react-btn {
    font-weight: 500;
    margin-left: -50px;
    color: #729DF2;
    flex-direction: column;
    line-height: 10px;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
  
}

img {
    width: 580px;
    margin-left: 45%;
    
}

h2 {
    font-size: 32px;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #F285C1;
}

p {
font-size: 20px;
}

.button {
    border: 2px solid #F285C1;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    line-height: 70px;
    font-size: 24px;
    
    
}

.button:hover {
    background-color: #F285C1;
    color: white;
    
}

aside {
    margin-left: 187px;
}

.menu {
    margin-left: 90px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.apre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

body .container .card:nth-child(3) .box .content a {
  background: #23c186;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

iframe {
   margin-left: 575px;
}

